.home {
	text-align: center;
	margin:0 auto;
	width:50%;
	background-color:grey;
}

.home > p {
	font-size:12px;
	/*background-color: yellow;*/
	
}
.home > div {
	font-size:12px;
	/*background-color: pink;*/

}
