

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Meyer end */

/*custom reset */
html {
  box-sizing: border-box;
}
body {
	font-family: sans-serif;
	background-color: #F4F4F4;

	
}
*, *:before, *:after {
  box-sizing: inherit;
}
/*for debug */
/*
div {
	
	border: 1px dotted red;
	
}*/

.main {

	margin:0 auto;
	
}
 
@import url(https://fonts.googleapis.com/css?family=Jacques+Francois+Shadow|Rye|Yesteryear|VT323|Lato);
body {
	font-family: 'VT323', monospace;
	font-family: 'Lato', sans-serif;
	font-size:20px;
	line-height: 24px;
	background-color: black;
	color:white;
}


@media only screen and (min-width: 321px) {
    .main {
		/*background-color: #080f50;*/
		width:90%;
	}
}
@media only screen and (min-width: 700px) {
    .main {
		/*background-color: #50082a;*/
		width:630px;
	}
}

@media only screen and (max-width: 320px) {
    .main {
		/*background-color: #08502c;*/
		width:100%;
	}
}


/* HEADER COMP */
div .header {
	position:fixed;
	background-color:black;
	
	
	left:10px;
    font-family: 'Yesteryear', cursive;
   
    color:gold;
	text-align:center;
	margin:20px;
    font-size:40px;
    
}
/* DESCRIPTION COMPONENT */
.room-description {
	position: relative;
	display:inline-block;
	width:100%;
	height:60px;
	
	
}
/*NAV COMPONENT */

div.nav  {
	position:fixed;
	width:100%;
	height:60px;
	background-color: pink;
}
.nav >ul {
	position:relative;
	/*right:20px;*/
    /*display:inline-block;*/
    width: 100%; 
   /* background-color: black;*/
    margin:10px;
}
.nav > ul>li {
    display: inline-block;
    margin:5px;
    margin-right:10px;   
}
.nav >ul>li >a {
	color: darkgray;
}
.nav >ul >li >a:link, .nav >li >a:visited {
	color: darkgray
}
.nav >ul >li >a:hover, .nav >li >a:active {
    color: black;
}
/*
.debug {
    font-style:monospace;
    background-color: black;
    color:white;
    text-align:left;
    font-size:10px;
    font-weight:100;
}
*/

/* MESSAGE COMPONENT */
.message{
	/*background-color: cornflowerblue;*/
	font-weight:bold;
}

/* ACTIONS COMPONENT */
.actions >Button {
	display:inline-block;
	/*trbl*/
	padding:2px 5px 2px 5px;
	margin:4px;
	border: none;
	background-color:gold;
	font-size:inherit;
	color:black;
	cursor:pointer;
}
/* WORLDMAP COMPONENT */
.worldmap canvas{
	background-image: url('assets/theshivers/images/game_bg.jpg');
}






